body{
  display:flex;
  vertical-align: center;
}

.form-styles{
  margin: 0 auto;

}

input{
  max-width: 325px;
  height: 30px;
  margin: 5px;
}

input:hover{
  transition: .25s;
  opacity: .75;
}

.map-sizing{
  max-width: 50%;
  max-height: 50%;
}

.timerDaysOn{
  color: red;
  font-size: 24px;
}

.timerHoursOn{
  color: orange;
  font-size: 36px;
}

.timerMinutesOn{
  color: green;
  font-size: 48px;
}

.timerSecondsOn{
  color: blue;
  font-size: 60px;
}
